<div class="modal-dialog slide-panel" id="modal-dialog" ng-cloak ng-show="$ctrl.menu.dialog">
    <div class="modal-content slide-bg-color">
        <div class="modal-header" style="z-index:999">
            <button type="button" class="close" ng-click="$ctrl.redirectTo('/')" ><span class="fa fa-close"></span></button><h4 class="modal-title" ng-bind="::$ctrl.menu.title"></h4><!--组配置-->
        </div>
        <div class="modal-body slide-bg-color">
            <div class="panel slide-bg-color">
                <div class="panel-body ">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" ng-hide="$ctrl.menu.createStatus">
                        <li role="presentation" ng-class="{'active':$ctrl.menu.mc ===1}"><a href="javascript:void(0);" ng-click="$ctrl.changeTab(1)" class="nav-size" translate-once="STATUS"></a></li><!--状态-->
                        <li role="presentation" ng-class="{'active':$ctrl.menu.mc ===2}"><a href="javascript:void(0);" ng-click="$ctrl.changeTab(2)" class="nav-size" translate-once="CONFIG"></a></li><!--配置-->
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>