.login-html .login-body{
    width:100%;
    height:100%;
   /* background: -webkit-linear-gradient(to bottom, #3074c1 , #5db8ff); !* Safari 5.1 - 6.0 *!
    background: -o-linear-gradient(to bottom, #3074c1 , #5db8ff); !* Opera 11.1 - 12.0 *!
    background: -moz-linear-gradient(to bottom, #3074c1 , #5db8ff); !* Firefox 3.6 - 15 *!
    background: linear-gradient(to bottom, #3074c1 , #5db8ff); !* 标准的语法 *!*/
    background: url("../img/login-bg-color.png") repeat-x;
    background-size: 1px 100%;
    font-size:14px;
    font-family: "微软雅黑", serif;
    font-weight:500;
    position: relative;
}
.login-box{
    width:1200px;
    height:650px;
    background: url("../img/login-bg.png") no-repeat;
}
.login-center {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.login-iner-box{
    width:320px;
    height:370px;
    position: absolute;
    top: 116px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.form-panel{
    background: #2d9ae8;
    width:322px;
    height:326px;
    border:1px solid rgba(255,255,255,0.3);

}
.login-logo{
    width:320px;
    height:42px;
    background: url("../img/login-logo.png") no-repeat;
}

.lang-text{
    text-decoration: none !important;
    width:157px;
    height:44px;
    line-height:44px;
    text-align: center;
    color:#ffffff !important;
    font-family: "微软雅黑", serif;
    font-size:14px;
    display: inline-block;
}
.lang-text:hover{
    text-decoration: none;
    color:#ffffff;
}
.lang-margin{
    margin-right:1px;
}
.lang-border-right{
    border-right:1px solid rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.lang-border-left{
    border-left:1px solid rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.login-input{
    margin-top:40px;
    margin-bottom:0px;
    position: relative;
}
.login-input-sty{
    width:260px;
    height:40px;
    margin:0 auto 20px;
    padding-left:32px;
    padding-right:30px;
}
.login-radio{
    padding: 0;
    margin:0px 0 20px 35px;
}
.login-waring{
    font-family: "微软雅黑", serif;
    color:red;
    font-size:14px;
    margin:-14px 0 0 62px;
}
.login-radio label{
    padding:0;
    font-size:14px;
    font-family: "微软雅黑", serif;
    color:#ffffff;
    margin-right:40px;
}
.login-sure{
    display: block;
    width:260px;
    height:42px;
    line-height:42px;
    text-align: center;
    border:none;
    background: #3074c1;
    border-radius:4px;
    color:#fff;
    margin:0 auto;
}
.alert-user{
    width:218px;
    height:40px;
    border:1px solid #fc4b75;
    border-radius:4px;
    position: absolute;
    top:0px;
    left:298px;
    background: #ffffff;
    line-height:40px;
    padding-left:26px;
}
.err-ico{
    display: inline-block;
    width:18px;
    height:16px;
    background: url("../img/login-err-war.png") no-repeat;
    position: absolute;
    top:12px;
    left:6px;
}
.tri-ico{
    position: absolute;
    top:13px;
    left:-5px;
    display: block;
    width:5px;
    height:16px;
    background: url("../img/login-err-trai.png") no-repeat;
}
.alert-pass{
    width:218px;
    height:40px;
    border:1px solid #fc4b75;
    border-radius:4px;
    position: absolute;
    top:60px;
    left:298px;
    background: #ffffff;
    line-height:40px;
    padding-left:26px;
}
.user-input{
    position: relative;
}
.user-ico{
    position: absolute;
    display: block;
    width:18px;
    height:18px;
    background: url("../img/user-ico.png") no-repeat;
    top:12px;
    left:38px;
}
.user-del{
    position: absolute;
    display: block;
    width:18px;
    height:18px;
    background: url("../img/login-input-del.png") no-repeat;
    top:12px;
    right:38px;
    cursor: pointer;
}
.pass-input{
    position: relative;
}
.pass-ico{
    position: absolute;
    display: block;
    width:18px;
    height:18px;
    background: url("../img/pass-ico.png") no-repeat;
    top:12px;
    left:38px;
}
.pass-open{
    position: absolute;
    display: block;
    width:18px;
    height:18px;
    background: url("../img/pass-open.png") no-repeat;
    top:12px;
    right:38px;
    cursor: pointer;
}
.pass-close{
    position: absolute;
    display: block;
    width:18px;
    height:18px;
    background: url("../img/pass-close.png") no-repeat;
    top:12px;
    right:38px;
    cursor: pointer;
}
.login-copr{
    position: absolute;
    color:#cceeee;
    font-size:14px;
    font-family: "微软雅黑";
    margin:0 auto;
    bottom:40px;
}
.vertical-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.ng-invalid-txt{
    border: 1px solid #fc4b75;
    color: #fc4b75
}






