<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title"></title><!--DIP 数据集成平台-系统配置-->
    <meta name="description" content="{{desc}}"><!--Dip 系统配置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="build/config.min.css">
</head>
<body class="sys-body" ng-controller="configCtrl"  data-spy="scroll" data-target="#scrollspy">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- HEADER -->
<header class="navbar" >
    <div class="container" id="container">
        <div class="navbar-brand">
            <!-- COMPANY LOGO -->
            <a href="/index" class="logo-ico">
                <img src="img/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive">
                <!--<h3>数据集成平台</h3>-->
            </a>
            <!-- /COMPANY LOGO -->
            <!-- TEAM STATUS FOR MOBILE -->
            <div class="visible-xs">
                <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                    <i class="fa fa-users"></i>
                </a>
            </div>
            <!-- /TEAM STATUS FOR MOBILE -->
        </div>
        <!-- NAVBAR LEFT -->
        <ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
            <li class="dropdown">
                <a href="/index" class="team-status-toggle dropdown-toggle tip-bottom" data-toggle="tooltip" title="Toggle Team View">
                    <i class="main-ico"></i>
                    <span class="name" translate-once="PROJECT"></span><!--项目-->
                </a>
            </li>
            <li class="dropdown active">
                <a href="#" class="team-status-toggle dropdown-toggle tip-bottom" data-toggle="tooltip" title="Toggle Team View">
                    <i class="config-ico"></i>
                    <span class="name" translate-once="SYSTEM_CFG"></span><!--系统设置-->
                </a>
                <span class="nav-bottom-bar"></span>
            </li>
        </ul>
        <!-- /NAVBAR LEFT -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="" src="img/avatars/avatar3.jpg" style="visibility: hidden;" />
                    <span class="username" ng-bind="user.name">Admin</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/logout"><i class="fa fa-power-off"></i> {{'EXIT' | translate}}</a></li><!--退出-->
                </ul>
            </li><!-- \END USER LOGIN DROPDOWN -->
        </ul><!-- END TOP NAVIGATION MENU -->
    </div>

</header>
<!--/HEADER -->
<div class="container" >
    <div class="row">
        <div class="col-md-2" >
            <div id="scrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="50">
                    <li class="active"><a href="#section-1" translate-once="Cf_cwjcxt"></a></li><!--错误检测系统-->
                    <li><a href="#section-2" translate-once="Cf_cwfsxt"></a></li><!--错误发送系统-->
                    <li><a href="#section-3" translate-once="Cf_sclc"></a></li><!--上传licence-->
                    <li><a href="#section-4" translate-once="Cf_yhgl"></a></li><!--用户管理-->
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default" id="section-1">
                <div class="panel-heading">
                    <div class="panel-title">{{'Cf_cwjcxt' | translate}} <i class="fa fa-edit" ng-click="err_cfg_edit()"></i></div><!--错误检测系统-->
                </div>
                <div class="panel-body">
                    <form name="formErr" class="form-err" autocomplete="off" novalidate>
                        <div class="row row-margin">
                            <div class="col-md-2 col-sm-6"><span class="int-text" translate-once="Cf_rwbs"></span></div><!--任务标识：-->
                            <div class="col-md-4 col-sm-6">
                                <input  class="form-control" ng-cloak="" ng-show="err_cf.isEdit" type="text" name="tastTag" ng-pattern="/^[a-zA-Z]\w{0,19}$/" required ng-model="property.task_identify" maxlength="30"/>
                                <span class="cf-ci-label" ng-show="!err_cf.isEdit"  ng-bind="property.task_identify" >44</span>
                            </div>
                            <div class="col-md-2 col-sm-6"><span class="int-text" translate-once="Cf_jksbfw"></span></div><!--监控设备服务IP：-->
                            <div class="col-md-4 col-sm-6">
                                <input  class="form-control" ng-cloak="" ng-show="err_cf.isEdit" type="text" name="watchIp" ng-pattern="/^((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]\d)|\d)(\.((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]\d)|\d)){3}$/" required ng-model="property.monitor_ip" maxlength="30"/>
                                <span class="cf-ci-label" ng-show="!err_cf.isEdit" ng-bind="property.monitor_ip">44</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-6 row-margin"><span class="int-text" translate-once="Cf_jksbdk"></span></div><!--监控设备服务端口：-->
                            <div class="col-md-4 col-sm-6 row-margin">
                                <input  class="form-control" ng-cloak="" ng-show="err_cf.isEdit" type="text" name="listenPort" ng-pattern="/^[1-9]$|(^[1-9][0-9]$)|(^[1-9][0-9][0-9]$)|(^[1-9][0-9][0-9][0-9]$)|(^[1-6][0-5][0-5][0-3][0-5]$)/" required ng-model="property.monitor_port" maxlength="10"/>
                                <span class="cf-ci-label" ng-show="!err_cf.isEdit" ng-bind="property.monitor_port">44</span>
                            </div>
                            <div class="col-md-2 col-sm-6 row-margin"><span class="int-text" translate-once="Cf_jcjg"></span></div><!--检测间隔：-->
                            <div class="col-md-4 col-sm-6 row-margin">
                                <div class="input-group" ng-cloak="" ng-show="err_cf.isEdit" >
                                    <input  class="form-control" type="text" name="testTime" ng-pattern="/^[1-9][0-9]{0,4}$/" required ng-model="property.monitor_interval" maxlength="20"/>
                                    <div class="input-group-addon" translate="Mm"></div><!--分-->
                                </div>
                                <span class="cf-ci-label" ng-show="!err_cf.isEdit">{{property.monitor_interval}}{{'Mm' | translate}}</span><!--分-->
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-2 col-sm-6 row-margin"><span class="int-text" translate-once="Cf_cpsyl"></span></div><!--磁盘剩余量下限：-->
                            <div class="col-md-4 col-sm-6 row-margin">
                                <div class="input-group" ng-cloak="" ng-show="err_cf.isEdit">
                                    <input  class="form-control" type="text" name="raminLimit" ng-pattern="/^[1-9][0-9]{0,4}$/" required ng-model="property.free_disk_threshold" maxlength="20"/>
                                    <div class="input-group-addon">G</div>
                                </div>
                                <span class="cf-ci-label" ng-show="!err_cf.isEdit" ng-bind="property.free_disk_threshold+'G'">44</span>
                            </div>
                            <div class="col-md-2 col-sm-6"><span class="int-text" translate-once="Cf_bjtzlb"></span></div><!--不监听组列表：-->
                            <div class="col-md-4 col-sm-6">
                                <textarea class="watch-area watch-area-width" ng-cloak="" ng-show="err_cf.isEdit" placeholder="{{'Cf_bjtts' | translate}}" ng-model="property.listenList" maxlength="300"></textarea><!--不监听组列表请以换行分割-->
                                <span style="word-break: break-all;" class="cf-ci-label" ng-show="!err_cf.isEdit" ng-bind="property.listenList"></span>
                            </div>
                        </div>

                        <div class="row" ng-cloak="" ng-show="err_cf.isEdit" >
                            <div class="col-md-8 col-sm-6">
                                <div class="alert alert-danger" ng-cloak="" ng-show="formErr.tastTag.$dirty && formErr.tastTag.$invalid">
                                    <div ng-show="formErr.tastTag.$error.required" translate-once="Cf_tip1"></div><!--任务标识不能为空！-->
                                    <div ng-show="formErr.tastTag.$error.pattern" translate-once="Cf_tip2"></div><!--任务标识只能包含数字、字母、下划线，不能以数字、下划线开头，长度不超过20位！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formErr.watchIp.$dirty && formErr.watchIp.$invalid">
                                    <div ng-show="formErr.watchIp.$error.required" translate-once="Cf_tip3"></div><!--监控设备服务IP不能为空！-->
                                    <div ng-show="formErr.watchIp.$error.pattern" translate-once="Cf_tip4"></div><!--请输入正确的IP地址！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formErr.listenPort.$dirty && formErr.listenPort.$invalid">
                                    <div ng-show="formErr.listenPort.$error.required" translate-once="Cf_tip5"></div><!--监控设备服务端口不能为空！-->
                                    <div ng-show="formErr.listenPort.$error.pattern" translate-once="Cf_tip6"></div><!--请输入正确的服务端口！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formErr.testTime.$dirty && formErr.testTime.$invalid">
                                    <div ng-show="formErr.testTime.$error.required" translate-once="Cf_tip7"></div><!--检测间隔不能为空！-->
                                    <div ng-show="formErr.testTime.$error.pattern" translate-once="Cf_tip8"></div><!--检测间隔只能为大于0的数字且长度不超过5位数！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formErr.raminLimit.$dirty && formErr.raminLimit.$invalid">
                                    <div ng-show="formErr.raminLimit.$error.required" translate-once="Cf_tip9"></div><!--磁盘剩余量下限不能为空！-->
                                    <div ng-show="formErr.raminLimit.$error.pattern" translate-once="Cf_tip10"></div><!--磁盘剩余量只能为大于0的数字且长度超过5位数！-->
                                </div>
                                <!--<div class="alert alert-danger" ng-cloak="" ng-show="formErr.capDelay.$dirty && formErr.capDelay.$invalid">-->
                                <!--<div ng-show="formErr.capDelay.$error.required">Capture 抓取延时不能为空！</div>-->
                                <!--<div ng-show="formErr.capDelay.$error.pattern">Capture 抓取延时只能为大于0的数字且长度不超过5位数！</div>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-sm" style="margin-right: 10px;" ng-click="err_cf.isEdit=false;queryErrJcxt()" translate-once="CANCEL"></button><!--取消-->
                                    <button class="btn btn-primary btn-sm" ng-disabled="formErr.$invalid" ng-click="saveErrJcxt()" translate-once="SAVE"></button><!--保存-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--错误发送系统-->
            <div class="panel panel-default" id="section-2">
                <div class="panel-heading">
                    <div class="panel-title">{{'Cf_cwfsxt' | translate}}<i class="fa fa-edit" ng-click="err_fs_edit()"></i></div><!--错误发送系统-->
                </div>
                <form name="formSend" class="form-err" autocomplete="off" novalidate>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 user-mes-tit"><h4 translate-once="Cf_khxx"></h4></div><!--客户信息-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12"><span class="red">*</span><span class="int-text" translate-once="Cf_khmc"></span></div><!--客户名称：-->
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" ng-cloak="" ng-show="err_fs.isEdit" type="text" name="userName" required ng-pattern="/^[a-zA-Z]\w{0,19}$/" ng-model="property.customer_name"  maxlength="30"/>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.customer_name">44</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12"><span class="red">*</span><span class="int-text" translate-once="Cf_fwqdk"></span></div><!--服务器端口：-->
                                    <div class="col-md-8 col-sm-12">
                                        <input  class="form-control" ng-cloak="" ng-show="err_fs.isEdit" type="text" name="port" required
                                                ng-pattern="/^[1-9]$|(^[1-9][0-9]$)|(^[1-9][0-9][0-9]$)|(^[1-9][0-9][0-9][0-9]$)|(^[1-6][0-5][0-5][0-3][0-5]$)/" ng-model="property.server_port" maxlength="10"/>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.server_port">44</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 send-ways">
                                <h4 translate-once="Cf_fsfs"></h4><!--发送方式-->
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 sys-send-tit">
                                        <i class="emial-cont"></i>
                                        <p translate-once="Cf_yjpz"></p><!--邮件配置-->
                                    </div>
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="red">*</span><span class="int-text" translate-once="Cf_yjfwq"></span></div><!--邮件服务器：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <input  class="form-control" ng-cloak="" ng-show="err_fs.isEdit" type="text" name="emailIp" ng-model="property.mail_server" required  maxlength="40"/>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.mail_server">44</span>
                                    </div>
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="red">*</span><span class="int-text" translate-once="Cf_yjfwdk"></span></div><!--邮件服务器端口：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <input  class="form-control" ng-cloak="" ng-show="err_fs.isEdit" type="text" name="emailPort" ng-pattern="/^[1-9]$|(^[1-9][0-9]$)|(^[1-9][0-9][0-9]$)|(^[1-9][0-9][0-9][0-9]$)|(^[1-6][0-5][0-5][0-3][0-5]$)/" ng-model="property.mail_port" required/>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.mail_port">44</span>
                                    </div>
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="red">*</span><span class="int-text" translate-once="Cf_yhzh"></span></div><!--用户帐号：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <input  class="form-control" ng-cloak="" ng-show="err_fs.isEdit" type="text" name="sendUser" ng-model="property.user" required maxlength="40"/>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.user">44</span>
                                    </div>
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="red">*</span><span class="int-text" translate-once="Cf_zhms"></span></div><!--帐号密码：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <input  class="form-control" ng-cloak="" ng-show="err_fs.isEdit" type="password" name="passward" ng-model="property.password" required  maxlength="60"/>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.password===''?'':'******'">44</span>
                                    </div>
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="int-text" translate-once="Cf_cszhlb"></span></div><!--抄送账户列表：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <textarea class="watch-area" ng-cloak="" ng-show="err_fs.isEdit" placeholder="{{'Cf_cszhts' | translate}}" ng-model="property.address_list" maxlength="300"></textarea><!--抄送账户列表请以换行分割-->
                                        <div class="cf-ci-label" style="word-break: break-all;" ng-show="!err_fs.isEdit" ng-bind="property.address_list"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 sys-send-tit">
                                        <i class="message-cont"></i>
                                        <p translate-once="Cf_dxpz"></p><!--短信配置-->
                                    </div>
                                    <!--<div class="col-md-4 col-sm-12 row-margin"><span class="int-text">短信发送：</span></div>-->
                                    <!--<div class="col-md-8 col-sm-12 row-margin">-->
                                    <!--<div class="send-radio" ng-cloak="" ng-show="err_fs.isEdit" >-->
                                    <!--<label class="checkbox-inline">-->
                                    <!--<input type="checkbox" ng-model="property.method_c" ng-change="mcChange()"/>&nbsp;&nbsp;自定义-->
                                    <!--</label>-->
                                    <!--<label class="checkbox-inline">-->
                                    <!--<input type="checkbox" ng-model="property.method_d" ng-change="mcChange()"/>&nbsp;&nbsp;默认-->
                                    <!--</label>-->
                                    <!--</div>-->
                                    <!--<span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.method">44</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-12 row-margin"><span class="int-text">自定义执行程序：</span></div>-->
                                    <!--<div class="col-md-8 col-sm-12 row-margin">-->
                                    <!--<input  class="form-control" ng-cloak="" ng-disabled="property.method_d && !property.method_c" ng-show="err_fs.isEdit" type="text" name="opeOrder" maxlength="100" ng-pattern="/^.{0,100}$/" ng-model="property.exe_full_path"/>-->
                                    <!--<span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.exe_full_path">44</span>-->
                                    <!--</div>-->
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="int-text" translate-once="Cf_sfdxfs"></span></div><!--是否短信发送：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <div class="send-radio" ng-cloak="" ng-show="err_fs.isEdit" >
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="property.method_sms" ng-change="changeSms()"/>&nbsp;&nbsp;
                                            </label>
                                        </div>
                                        <span class="cf-ci-label" ng-show="!err_fs.isEdit" ng-bind="property.method_sms?err_cf.yes:err_cf.no">44</span>
                                    </div>
                                    <div class="col-md-4 col-sm-12 row-margin"><span class="int-text" translate-once="Cf_sjhmlb"></span></div><!--手机号码列表：-->
                                    <div class="col-md-8 col-sm-12 row-margin">
                                        <textarea class="iphone-area" style="height: 260px" placeholder="{{'Cf_sjhmts' | translate}}" ng-cloak="" ng-show="err_fs.isEdit" ng-disabled="!property.method_sms" ng-model="property.phone_number_list" maxlength="300"></textarea><!--手机号码列表请以换行分割-->
                                        <div class="cf-ci-label" style="word-break: break-all;" ng-show="!err_fs.isEdit" ng-bind="property.phone_number_list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-cloak="" ng-show="err_fs.isEdit">
                            <div class="col-md-8">
                                <div class="alert alert-danger" ng-cloak="" ng-show="formSend.userName.$dirty && formSend.userName.$invalid">
                                    <div ng-show="formSend.userName.$error.required" translate-once="Cf_tip11"></div><!--客户名称不能为空！-->
                                    <div ng-show="formSend.userName.$error.pattern" translate-once="Cf_tip12"></div><!--客户名称只能包含数字、字母、下划线，不能以数字、下划线开头，长度不超过20位！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formSend.port.$dirty && formSend.port.$invalid">
                                    <div ng-show="formSend.port.$error.required" translate-once="Cf_tip13"></div><!--服务器端口不能为空！-->
                                    <div ng-show="formSend.port.$error.pattern" translate-once="Cf_tip14"></div><!--请输入正确的服务器端口！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formSend.emailIp.$dirty && formSend.emailIp.$invalid">
                                    <div ng-show="formSend.emailIp.$error.required" translate-once="Cf_tip15"></div><!--邮件服务器不能为空！-->
                                    <div ng-show="formSend.emailIp.$error.pattern" translate-once="Cf_tip16"></div><!--邮件服务器IP地址格式不合法！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formSend.emailPort.$dirty && formSend.emailPort.$invalid">
                                    <div ng-show="formSend.emailPort.$error.required" translate-once="Cf_tip17"></div><!--邮件服务器端口不能为空！-->
                                    <div ng-show="formSend.emailPort.$error.pattern" translate-once="Cf_tip18"></div><!--邮件服务器端口格式不合法！-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formSend.sendUser.$dirty && formSend.sendUser.$invalid">
                                    <div ng-show="formSend.sendUser.$error.required" translate-once="Cf_tip19"></div><!--用户帐号不能为空！-->
                                    <!--<div ng-show="formSend.sendUser.$error.pattern" translate-once="Cf_tip20"></div>&lt;!&ndash;用户帐号只能包含数字、字母、@_.且不超过20位！&ndash;&gt;-->
                                </div>
                                <div class="alert alert-danger" ng-cloak="" ng-show="formSend.passward.$dirty && formSend.passward.$invalid">
                                    <div ng-show="formSend.passward.$error.required" translate-once="Cf_tip21"></div><!--帐号密码不能为空！-->
                                    <!--<div ng-show="formSend.passward.$error.pattern" translate-once="Cf_tip22"></div>&lt;!&ndash;帐号密码长度不能超过20位！&ndash;&gt;-->
                                </div>
                                <!--<div class="alert alert-danger" ng-cloak="" ng-show="formSend.opeOrder.$dirty && formSend.opeOrder.$invalid">-->
                                <!--<div ng-show="formSend.opeOrder.$error.required">自定义执行程序不能为空！</div>-->
                                <!--<div ng-show="formSend.opeOrder.$error.pattern">自定义执行程序长度不能超过100位！</div>-->
                                <!--</div>-->
                                <div class="alert alert-danger" ng-cloak="" ng-show="err_fs.backErr">
                                    <div ng-bind="err_fs.backErrMsg"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-sm" style="margin-right:10px;" ng-click="err_fs.isEdit=false;queryErrSendInfo()" translate-once="CANCEL"></button><!--取消-->
                                    <button class="btn btn-primary btn-sm" ng-disabled="formSend.$invalid" ng-click="saveErrSendInfo()" translate-once="SAVE"></button><!--保存-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--/错误发送系统-->
            <!--上传license-->
            <div class="panel panel-default lice-up-panel" id="section-3">
                <div class="panel-heading">
                    <div class="panel-title" translate-once="Cf_lcwjsc"></div><!--Licence文件上传-->
                </div>
                <div class="panel-body">
                    <div class="row lice-cont">
                        <div class="col-md-12 config-selet-pile">
                            <span translate-once="Cf_xzwj"></span><!--选择文件：-->
                            <div class="selet-file-ope">
                                <span class="up-search" ng-click="selectFile()"></span>
                                <span class="up-search-text" translate-once="Cf_xzscwj"></span>
                                <input ng-cloak="" style="display: none;" type="file" id="file" name="myfile" />
                            </div>
                        </div>
                        <div class="col-md-12 config-up-pile">
                            <span translate-once="Cf_wjsc"></span><!--文件上传：-->
                            <div class="up-cont">
                                <span class="up-status" ng-click="uploadFile()"></span>
                                <div class="up-div">
                                    <span ng-class="{'red':licenseUp.isDone===2,'green':licenseUp.isDone===3}" translate-once="Cf_sczt"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/上传license-->
            <!--用户列表-->
            <div class="panel panel-default" id="section-4">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <div class="panel-title config-user-list"  translate-once="Cf_yhlb"></div><i class="tit-edit-logo" ng-click=""></i>
                    </div>
                    <div class="pull-right">
                        <div class="user-tit-ope">
                            <span class="user-tit-modi" ng-click="addUser()">
                                <i></i>
                                <em translate-once="ADD"></em><!--添加-->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-cloak="" ng-show="userCfg.isAdd">
                        <form name="userForm" autocomplete="off" novalidate>
                            <table class="table">
                                <tr>
                                    <td><span class="red">*</span>{{ 'Cs_yhm' | translate}}</td><!--用户名：-->
                                    <td><input class="form-control" name="userName" ng-model="userM.uname" ng-pattern="/^[a-zA-Z]\w{0,19}$/" required type="text"></td>
                                </tr>
                                <tr>
                                    <td><span class="red">*</span>{{ 'Cf_mm' | translate}}</td><!--密码：-->
                                    <td><input class="form-control" name="userPass" ng-model="userM.pass" ng-pattern="/^\S{8,20}$/" required type="password" ng-change="userM.cpass=''"></td>
                                </tr>
                                <tr>
                                    <td><span class="red">*</span>{{ 'Cf_qrmm' | translate}}</td><!--确认密码：-->
                                    <td><input class="form-control" name="userConPass" cpass ng-model="userM.cpass" required type="password"></td>
                                </tr>
                                <tr>
                                    <td translate="ROLE"></td><td><select class="form-control"  ng-model="userM.role"><option value="super" translate-once="ADMIN"></option></select></td><!--管理员-->
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="pull-left">
                                            <div class="alert alert-danger" ng-cloak="" ng-show="userM.uname !=='' && userForm.userName.$dirty && userForm.userName.$invalid">
                                                <div ng-show="userForm.userName.$error.required" translate-once="Cf_tip23"></div><!--用户名不能为空！-->
                                                <div ng-show="userForm.userName.$error.pattern" translate-once="Cf_tip24"></div><!--用户名只能包含数字、字母、下划线，不能以数字下划线开头且不超过20位！-->
                                            </div>
                                            <div class="alert alert-danger" ng-cloak="" ng-show="userM.pass !=='' && userForm.userPass.$dirty && userForm.userPass.$invalid">
                                                <div ng-show="userForm.userPass.$error.required" translate-once="Cf_tip25"></div><!--密码不能为空！-->
                                                <div ng-show="userForm.userPass.$error.pattern" translate-once="Cf_tip26"></div><!--密码长度需要在8到20位之间的字符且不能包含空格！-->
                                            </div>
                                            <div class="alert alert-danger" ng-cloak="" ng-show="userM.cpass !=='' && userForm.userConPass.$dirty && userForm.userConPass.$invalid">
                                                <div ng-show="userForm.userConPass.$error.required" translate-once="Cf_tip27"></div><!--确认密码不能为空！-->
                                                <div ng-show="userForm.userConPass.$error.cpass" translate-once="Cf_tip28"></div><!--确认密码跟密码不一致！-->
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button  class="btn btn-primary btn-sm" ng-click="cancelAdd()" translate-once="CANCEL"></button><!--取消-->
                                            <button  class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid" ng-click="saveUserInfo()" translate-once="SAVE"></button><!--保存-->
                                        </div>
                                        <div class="clearfix"></div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div ng-cloak="" ng-show="userCfg.isEdit">
                        <form name="userEditForm" autocomplete="off" novalidate>
                            <table class="table">
                                <tr>
                                    <td translate-once="Cs_yhm"></td><!--用户名：-->
                                    <td><input class="form-control" name="userName" ng-model="userE.uname" ng-disabled="userCfg.isEdit" ng-pattern="/^[a-zA-Z]\w{0,20}$/" required type="text"></td>
                                </tr>
                                <tr>
                                    <td><span class="red">*</span>{{'Cf_xmm' | translate}}</td><!--新密码：-->
                                    <td><input class="form-control" name="userPass" ng-model="userE.pass" ng-pattern="/^\S{8,20}$/" required type="password"></td>
                                </tr>
                                <tr>
                                    <td><span class="red">*</span>{{'Cf_qrmm' | translate}}</td><!--确认密码：-->
                                    <td><input class="form-control" name="userConPass" epass ng-model="userE.cpass" ng-pattern="/^.{1,20}$/" required type="password"></td>
                                </tr>
                                <tr>
                                    <td translate-once="ROLE"></td><td ng-bind="userE.role==='super_admin'?err_cf.cjgly:err_cf.gly"></td><!--角色-->
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="pull-left">
                                            <div class="alert alert-danger" ng-cloak="" ng-show="userEditForm.userPass.$dirty && userEditForm.userPass.$invalid">
                                                <div ng-show="userEditForm.userPass.$error.required" translate-once="Cf_tip29"></div><!--密码不能为空！-->
                                                <div ng-show="userEditForm.userPass.$error.pattern" translate-once="Cf_tip26"></div><!--密码长度需要在8到20位之间的字符且不能包含空格！-->
                                            </div>
                                            <div class="alert alert-danger" ng-cloak="" ng-show="userEditForm.userConPass.$dirty && userEditForm.userConPass.$invalid">
                                                <div ng-show="userEditForm.userConPass.$error.required" translate-once="Cf_tip31"></div><!--确认密码不能为空！-->
                                                <div ng-show="userEditForm.userConPass.$error.pattern" translate-once="Cf_tip32"></div><!--确认密码长度不能超过20位！-->
                                                <div ng-show="userEditForm.userConPass.$error.epass" translate-once="Cf_tip33"></div><!--确认密码跟密码不一致！-->
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button  class="btn btn-primary btn-sm" ng-click="cancelEdit()" translate-once="CANCEL"></button><!--取消-->
                                            <button  class="btn btn-primary btn-sm" ng-disabled="userEditForm.$invalid" ng-click="saveEditUserInfo()" translate-once="EDIT1"></button><!--修改-->
                                        </div>
                                        <div class="clearfix"></div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="dip-user-tab" ng-hide="userCfg.isAdd || userCfg.isEdit">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 35%">
                                <col style="width: 35%">
                                <col style="width: 30%">
                            </colgroup>
                            <tr>
                                <th translate-once="UNAME"></th><th translate-once="AUTH"></th><th translate-once="OPERATE"></th><!--用户名 权限 操作-->
                            </tr>
                        </table>
                        <div class="dip-user-tab-list">
                            <table class="table">
                                <colgroup>
                                    <col style="width: 35%">
                                    <col style="width: 35%">
                                    <col style="width: 30%">
                                </colgroup>
                                <tr ng-repeat="user in userList">
                                    <td ng-bind="user.user">admin</td>
                                    <td ng-bind="user.authority"></td><!--普通用户-->
                                    <td><i class="fa fa-edit green fa-first-pos" ng-click="editUser(user)"></i><i class="fa fa-remove red" ng-hide="user.role==='super_admin'" ng-click="deleteUser(user)"></i></td>
                                </tr>
                                <tr ng-cloak="" ng-show="userList.length===0">
                                    <td colspan="3" class="txt-align-center">
                                        No Data!
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!--/用户列表-->
        </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="build/other.lib.min.js"></script>
<script type="text/javascript" src="sysconfig_view/sys_config_view.js"></script>
<script type="text/javascript" src="service/dipHttpService.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#file').on('change',function () {
            var appElement = document.querySelector('[ng-controller=configCtrl]');
            var scope = angular.element(appElement).scope();
            scope.changeBtn();
            scope.$apply();
        });
    });
</script>
</body>
</html>