<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dip/main2.css">
    <link rel="stylesheet" type="text/css" href="../css/etl_rule.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" type="text/css" href="../css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
</head>
<body>
<div class="container">
      <!--<div class="full-syc-modal">-->

          <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--<div class="full-syc-title">-->
                   <!--<label><input type="checkbox">导出全部数据</label>-->
                <!--</div>-->
                <!--<div class="full-syc-body">-->
                   <!--<div class="full-body-left">-->
                       <!--<input type="text" placeholder="用户名搜索">-->
                       <!--<ul>-->
                           <!--<li>aaaa</li>-->
                           <!--<li>bbbb</li>-->
                           <!--<li class="active">aaaa</li>-->
                           <!--<li>bbbb</li>-->
                           <!--<li>aaaa</li>-->
                       <!--</ul>-->
                   <!--</div>-->
                    <!--<div class="full-body-right">-->
                       <!--<input type="text" placeholder="表名搜索">-->
                       <!--<div class="full-body-table">-->
                           <!--<table>-->
                               <!--<colgroup>-->
                                   <!--<col style="width: 10%">-->
                                   <!--<col style="width: 70%">-->
                                   <!--<col style="width: 20%">-->
                               <!--</colgroup>-->
                               <!--<tr>-->
                                   <!--<td><input type="checkbox"></td>-->
                                   <!--<td>表名</td>-->
                                   <!--<td>条件编辑</td>-->
                               <!--</tr>-->
                               <!--<tr>-->
                                   <!--<td><input type="checkbox"></td>-->
                                   <!--<td>aaaaaaa</td>-->
                                   <!--<td><a href="javascript:void(0);" class="fa fa-edit"></a></td>-->
                               <!--</tr>-->
                               <!--<tr>-->
                                   <!--<td><input type="checkbox"></td>-->
                                   <!--<td>bbbbb</td>-->
                                   <!--<td><a href="javascript:void(0);" class="fa fa-edit"></a></td>-->
                               <!--</tr>-->
                           <!--</table>-->
                       <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                  <!--<div class="full-syc-title">-->
                      <!--<select class="title-select">-->
                          <!--<option value="all">导出全部数据</option>-->
                          <!--<option value="part">只导出表结构及索引</option>-->
                      <!--</select>-->
                  <!--</div>-->
                  <!--<div class="full-syc-body1">-->
                       <!--<ul>-->
                           <!--<li>-->
                               <!--<label class="label1"><span>导出任务并发数</span><input  type="number" class="ibox"></label>-->
                               <!--<label class="label2"><input  type="checkbox">创建表结构</label>-->
                           <!--</li>-->
                           <!--<li>-->
                               <!--<label class="label1"><span>指定SCN号</span><input  type="text" class="ibox"></label>-->
                               <!--<label class="label2"><input  type="checkbox">导出表索引及约束</label>-->
                           <!--</li>-->
                           <!--<li>-->
                               <!--<label class="label1"><span>指定表内并发数</span><input  type="number" class="ibox"></label>-->
                               <!--<label class="label2"><input  type="checkbox">将数据导出为字符串</label>-->
                           <!--</li>-->
                           <!--<li>-->
                               <!--<label class="label1"><span>导出字符集</span>-->
                                   <!--<select>-->
                                       <!--<option value="afsfsd">abcccc</option>-->
                                   <!--</select>-->
                               <!--</label>-->
                               <!--<label class="label2"><input  type="checkbox">使用etl规则</label>-->
                           <!--</li>-->
                           <!--<li>-->
                               <!--<label class="label3"><input  type="checkbox">导出其他对象（序列、触发器、存储过程等）</label>-->
                           <!--</li>-->
                       <!--</ul>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;<div class="full-syc-body1">&ndash;&gt;-->
                      <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                          <!--&lt;!&ndash;<li>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label1"><span>导出任务并发数</span><input  type="number" class="ibox"></label>&ndash;&gt;-->
                          <!--&lt;!&ndash;</li>&ndash;&gt;-->
                          <!--&lt;!&ndash;<li>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label3"><input  type="checkbox">导出其他对象（序列、触发器、存储过程等）</label>&ndash;&gt;-->
                          <!--&lt;!&ndash;</li>&ndash;&gt;-->
                          <!--&lt;!&ndash;<li>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label3"><input  type="checkbox">使用etl规则</label>&ndash;&gt;-->
                          <!--&lt;!&ndash;</li>&ndash;&gt;-->
                      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="col-md-12 full-syc-foot">-->
                   <!--<div class="pull-left">-->
                       <!--<button class="btn btn-info btn-sm">开始同步</button>-->
                       <!--<button class="btn btn-info btn-sm">查看历史同步信息</button>-->
                   <!--</div>-->
                   <!--<div class="pull-right">-->
                       <!--<button class="btn btn-primary btn-sm">保存</button>-->
                   <!--</div>-->
                  <!--<div class="checkbox"></div>-->
              <!--</div>-->
          <!--</div>-->




          <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                  <!--<div class="full-syc-title">-->
                      <!--<label><input type="checkbox">从已有数据文件导入</label>-->
                  <!--</div>-->
                  <!--<div class="full-syc-has-data">-->
                      <!--<div class="full-syc-sel">-->
                          <!--<select>-->
                              <!--<option value="1">group/aaa/blog</option>-->
                              <!--<option value="1">group/aaa/blog</option>-->
                              <!--<option value="1">group/aaa/blog</option>-->
                          <!--</select>-->
                      <!--</div>-->
                      <!--<div class="full-syc-body">-->
                          <!--<div class="full-body-left">-->
                              <!--<input type="text" placeholder="用户名搜索">-->
                              <!--<ul>-->
                                  <!--<li>aaaa</li>-->
                                  <!--<li>bbbb</li>-->
                                  <!--<li class="active">aaaa</li>-->
                                  <!--<li>bbbb</li>-->
                                  <!--<li>aaaa</li>-->
                              <!--</ul>-->
                          <!--</div>-->
                          <!--<div class="full-body-right">-->
                              <!--<input type="text" placeholder="表名搜索" class="sel-box"> <label class="sel-condition"><input type="checkbox" >只显示导出错误表</label>-->
                              <!--<div class="full-body-table">-->
                                  <!--<table>-->
                                      <!--<colgroup>-->
                                          <!--<col style="width: 10%">-->
                                          <!--<col style="width: 70%">-->
                                          <!--<col style="width: 20%">-->
                                      <!--</colgroup>-->
                                      <!--<tr>-->
                                          <!--<td><input type="checkbox"></td>-->
                                          <!--<td>表名</td>-->
                                          <!--<td>条件编辑</td>-->
                                      <!--</tr>-->
                                      <!--<tr>-->
                                          <!--<td><input type="checkbox"></td>-->
                                          <!--<td>aaaaaaa</td>-->
                                          <!--<td><a href="javascript:void(0);" class="fa fa-edit"></a></td>-->
                                      <!--</tr>-->
                                      <!--<tr>-->
                                          <!--<td><input type="checkbox"></td>-->
                                          <!--<td>bbbbb</td>-->
                                          <!--<td><a href="javascript:void(0);" class="fa fa-edit"></a></td>-->
                                      <!--</tr>-->
                                  <!--</table>-->
                              <!--</div>-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div class="full-syc-title">-->
                      <!--<label class="input-label">选择导入内容-->
                          <!--<select>-->
                              <!--<option value="all">导入全部数据</option>-->
                              <!--<option value="part">只导入表结构及索引</option>-->
                          <!--</select>-->
                      <!--</label>-->
                  <!--</div>-->
                  <!--<div class="full-syc-body1">-->
                      <!--<ul>-->
                          <!--<li>-->
                              <!--<label class="label1"><span>导出任务并发数</span><input  type="number" class="ibox"></label>-->
                              <!--<label class="label2"><input  type="checkbox">重建目标表</label>-->
                              <!--<label class="label2"><input  type="checkbox">重建索引</label>-->
                          <!--</li>-->
                          <!--<li>-->
                              <!--<label class="label1"><span>导出字符集</span>-->
                                  <!--<select>-->
                                      <!--<option value="afsfsd">abcccc</option>-->
                                  <!--</select>-->
                              <!--</label>-->
                              <!--<label class="label2"><input  type="checkbox">清空目标表</label>-->
                              <!--<label class="label2"><input  type="checkbox">保留数据文件</label>-->
                          <!--</li>-->
                          <!--<li>-->
                              <!--<label class="label3"><input  type="checkbox">重建对象</label>-->
                              <!--<label class="label2"><input  type="checkbox">表空间映射</label>-->
                          <!--</li>-->
                      <!--</ul>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;<div class="full-syc-body1">&ndash;&gt;-->
                      <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                          <!--&lt;!&ndash;<li>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label1"><span>导出任务并发数</span><input  type="number" class="ibox"></label>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label2"><input  type="checkbox">重建目标表</label>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label2"><input  type="checkbox">保留数据文件</label>&ndash;&gt;-->
                          <!--&lt;!&ndash;</li>&ndash;&gt;-->
                          <!--&lt;!&ndash;<li>&ndash;&gt;-->
                              <!--&lt;!&ndash;<label class="label3"><input  type="checkbox">导出其他对象（序列、触发器、存储过程等）</label>&ndash;&gt;-->
                          <!--&lt;!&ndash;</li>&ndash;&gt;-->
                      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->

                  <!--<div class="full-syc-title">-->
                      <!--<label class="input-label">选择导入方式-->
                          <!--<select>-->
                              <!--<option value="all">以DIP方式装载</option>-->
                              <!--<option value="part">以非DIP方式装载</option>-->
                          <!--</select>-->
                      <!--</label>-->
                  <!--</div>-->
                  <!--<div class="full-syc-body1">-->
                      <!--<ul>-->
                          <!--<li>-->
                              <!--<label class="label1"><span>导出表内并发数</span><input  type="number" class="ibox"></label>-->
                          <!--</li>-->
                          <!--<li>-->
                              <!--<label class="label3"><input  type="checkbox">导入时记录redo日志（异构不支持）</label>-->
                          <!--</li>-->
                      <!--</ul>-->
                  <!--</div>-->

              <!--</div>-->
              <!--<div class="col-md-12 full-syc-foot">-->
                  <!--<div class="pull-left">-->
                      <!--<button class="btn btn-info btn-sm">开始同步</button>-->
                      <!--<button class="btn btn-info btn-sm">查看历史同步信息</button>-->
                  <!--</div>-->
                  <!--<div class="pull-right">-->
                      <!--<button class="btn btn-primary btn-sm">保存</button>-->
                  <!--</div>-->
                  <!--<div class="checkbox"></div>-->
              <!--</div>-->
          <!--</div>-->

      <!--</div>-->

    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">全同步实时信息</h3>
    </div>
    <div class="modal-body">
        <!--/全同步实时信息-->
           <div class="full-syc-model-ss">
              <div class="model-ss-head clearfix">
                  <div class="ss-top">
                      <div class="pull-left">
                          <select>
                              <option value="1">group/aaa/blog</option>
                              <option value="1">group/aaa/blog</option>
                              <option value="1">group/aaa/blog</option>
                          </select>
                      </div>
                      <div class="pull-right">
                           <button class="btn btn-info btn-sm">继续该批次导入</button>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="ss-bottom">
                      <b>概要</b>
                      <ul>
                          <li >导入开始时间：<span>2017.4.6 15:00</span></li>
                          <li >导入耗时：<span>0.30</span></li>
                          <li>导入表个数：<span>1</span></li>
                          <li>导入错误表个数：<span>1</span></li>
                          <hr>
                          <li >导出开始时间：<span>2017.4.6 15:00</span></li>
                          <li >导出耗时：<span>0.30</span></li>
                          <li>导出表个数：<span>1</span></li>
                          <li>导出错误表个数：<span>1</span></li>
                      </ul>
                  </div>
              </div>
              <div class="model-ss-foot">
                  <uib-tabset active="stepT.topPanel">
                      <uib-tab index="0" heading="导入导出信息"><!--导入导出信息-->
                          <div class="full-body-table">
                              <table>
                                  <colgroup>
                                      <col style="width: 10%">
                                      <col style="width: 15%">
                                      <col style="width: 15%">
                                      <col style="width: 15%">
                                      <col style="width: 15%">
                                      <col style="width: 15%">
                                      <col style="width: 15%">
                                  </colgroup>
                                  <tr>
                                      <td>用户名</td>
                                      <td>表名</td>
                                      <td>导出状态</td>
                                      <td>导入状态</td>
                                      <td>分区表</td>
                                      <td>导出记录数</td>
                                      <td>导入记录数</td>
                                  </tr>
                                  <tr>
                                      <td>USE1</td>
                                      <td>aaaaaaa</td>
                                      <td>complete</td>
                                      <td>error</td>
                                      <td>table</td>
                                      <td>1000</td>
                                      <td>50</td>
                                  </tr>
                                  <tr>
                                      <td>USE2</td>
                                      <td>bbbb</td>
                                      <td>complete</td>
                                      <td>error</td>
                                      <td>table</td>
                                      <td>666</td>
                                      <td>333</td>
                                  </tr>
                              </table>
                          </div>
                      </uib-tab>
                      <uib-tab index="1" heading="错误信息"><!--错误信息-->
                          <div class="full-body-table">
                              <table>
                                  <colgroup>
                                      <col style="width: 10%">
                                      <col style="width: 20%">
                                      <col style="width: 20%">
                                      <col style="width: 50%">
                                  </colgroup>
                                  <tr>
                                      <td>编号</td>
                                      <td>表名</td>
                                      <td>类型(表/对象)</td>
                                      <td>错误原因</td>
                                  </tr>
                                  <tr>
                                      <td>USE1</td>
                                      <td>aaaaaaa</td>
                                      <td>complete</td>
                                      <td>error</td>
                                  </tr>
                                  <tr>
                                      <td>USE2</td>
                                      <td>bbbb</td>
                                      <td>complete</td>
                                      <td>error</td>
                                  </tr>
                              </table>
                          </div>
                      </uib-tab>
                  </uib-tabset>
                  <input type="text" placeholder="表名搜索" class="sel-box"> <button class="btn btn-default btn-sm">刷新</button><button class="btn btn-default btn-sm">查看错误表</button>

           </div>
        <!--\全同步实时信息-->



    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-warning btn-sm" type="button" ng-click="$ctrl.cancel()">取消</button>
            <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.ok()">保存</button>
        </div>
    </div>

</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
