<div class="modal-dialog slide-panel" id="modal-dialog" ng-cloak ng-show="$ctrl.dialog">
    <div class="modal-content slide-bg-color">
        <div class="modal-header header-bg-color" style="z-index:999">
            <button type="button" class="close" ng-click="$ctrl.redirectTo('/')" ><span class="fa fa-close"></span></button>
            <h4 class="modal-title">存量数据同步</h4><!--存量数据同步-->
        </div>
        <div class="modal-body slide-bg-color">
            <div class="panel slide-bg-color">
                <div class="panel-body">
                    <div class="full-syc-main-loader">
                          <label>
                              请选择要同步的loader组件ID：<select ng-options="item as item.cn for item in $ctrl.loaders" ng-model="$ctrl.selectedItem" ng-change="$ctrl.changeLoader()"></select>
                          </label> <i class="glyphicon glyphicon-question-sign" tooltip-placement="bottom" uib-tooltip="{{$ctrl.loaderTip}}"></i><br>
                          当前要同步的loader组件名称：{{$ctrl.currentLoaderName}}
                    </div>
                    <ui-view></ui-view>
                </div>
                <div class="panel-footer full-syc-footer">
                     <div class="pull-right">
                         <button class="btn btn-primary btn-sm" ng-click="$ctrl.workingFullSync()" ng-cloak="" ng-if="$ctrl.isRun">全同步运行中</button>
                          <button class="btn btn-primary btn-sm" ng-click="$ctrl.beginToFullSync()" ng-disabled="$ctrl.isRun">开始全同步</button>
                          <button class="btn btn-primary btn-sm" ng-click="$ctrl.getFullSyncHistory()">查看历史全同步信息</button>
                     </div>
                     <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>