<div role="tabpanel" class="tab-pane active">
        <div class="panel panel-default">
            <div class="panel-heading">Tserver</div>
            <form name="form2" autocomplete="off" novalidate>
            <div class="panel-body clearfix">
                <div class="panel panel-default">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="row cap-form-tip">
                                    <div class="col-md-12" ng-show="form2.userNa.$dirty && form2.userNa.$invalid">
                                        <div uib-alert class="alert-danger" ng-show="form2.userNa.$error.required" translate-once="Tc_tip11"></div><!--Tserver用户名不能为空！-->
                                        <div uib-alert class="alert-danger" ng-show="form2.userNa.$error.pattern" translate-once="Tc_tip12"></div><!--Tserver用户名只能包含汉字、数字、字母、下划线，长度不超过20位！-->
                                    </div>
                                    <div class="col-md-3"><label class="text-info" translate-once="Tc_tsyhm"></label></div><!--Tserver用户名:-->
                                    <div class="col-md-8 clearfix">
                                        <input class="form-control" type="text" name="userNa" ng-class="{'accord-pre':$ctrl.params.serUser}"  ng-pattern="/^[a-zA-Z\u4E00-\u9FA5](\w|[\u4E00-\u9FA5]|\d){0,19}$/" required ng-model="$ctrl.property.user"/>
                                        <p ng-class="{'accord-next':$ctrl.params.serUser}" ng-show="$ctrl.params.serUser" ng-cloak="" translate-once="Tc_yhmsm"></p><!--Tserver用户名说明-->
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-tip" ng-click="$ctrl.params.serUser=!$ctrl.params.serUser">
                                            <span class="mark glyphicon" ng-class="{'glyphicon-remove-sign':$ctrl.params.serUser,'glyphicon-question-sign':!$ctrl.params.serUser}"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row cap-form-tip">
                                    <div class="col-md-12" ng-show="form2.passW.$dirty && form2.passW.$invalid">
                                        <div uib-alert class="alert-danger" ng-show="form2.passW.$error.required" translate-once="Tc_tip13"></div><!--Tserver密码不能为空！-->
                                        <div uib-alert class="alert-danger" ng-show="form2.passW.$error.pattern" translate-once="Tc_tip14"></div><!--Tserver密码长度为8~20位且不能包含空格！-->
                                    </div>
                                    <div class="col-md-3"><label class="text-info" translate-once="Tc_tsmm"></label></div><!--Tserver密码:-->
                                    <div class="col-md-8 clearfix">
                                        <input class="form-control" type="password" name="passW" ng-class="{'accord-pre':$ctrl.params.serPass}" ng-pattern="/^\S{8,20}$/" required ng-model="$ctrl.property.passwd"/>
                                        <p ng-class="{'accord-next':$ctrl.params.serPass}" ng-show="$ctrl.params.serPass" ng-cloak="" translate-once="Tc_tsmmsm"></p><!--Tserver密码说明-->
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-tip" ng-click="$ctrl.params.serPass=!$ctrl.params.serPass">
                                            <span class="mark glyphicon" ng-class="{'glyphicon-remove-sign':$ctrl.params.serPass,'glyphicon-question-sign':!$ctrl.params.serPass}"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix">
                    <button class="btn btn-sm btn-primary pull-right" ng-disabled="form2.$invalid || $ctrl.isSaving" ng-click="$ctrl.saveTcpInfo()" ng-bind="$ctrl.saveBtnTxt"></button><!--保存-->
                </div>
            </div>
         </form>
    </div>
</div>